.inicio1, .inicio2
{
	margin: 15% 0;
}
.inicio3
{
	margin-top: 10%
}
.iniciar, .comenzar
{
	margin-top: 5%
}
.inicio1,.inicio2
{
	
}
button:hover {
	background: rgba(0,0,0,0) !important;
	color: rgb(51,122,183)!important;
	box-shadow: inset 0 0 0 3px #3a7999;
}
.michi .row
{
	width: 100%;
	height: 100px;
	outline: 5px red solid
}
.inicio3 h2
{
	margin-bottom: 20px
}
.bordeado
{
	border-left: 3px solid;
	background: black;
}