.inicio1, .inicio2
{
	margin: 20% 0;
}
.inicio3
{
	margin-top: 10%
}
.iniciar, .comenzar
{
	margin-top: 5%
}
.inicio1,.inicio3
{
	display: none
}
button:hover 
{
	background: rgba(0,0,0,0) !important;
	color: rgb(51,122,183)!important;
	box-shadow: inset 0 0 0 3px #3a7999;
}
.michi .row div
{
	width: 150px;
	height: 150px;
	border: 3px solid black;
}
.michi .row div:hover
{
	background: yellow
}
.inicio3 h2
{
	margin-bottom: 20px
}
.michi .row .arriba
{
	border-top: white;
}
.michi .row .abajo
{
	border-bottom: white
}
.michi .row .izquierda
{
	border-left: white
}
.michi .row .derecha
{
	border-right: white
}

@media screen and (max-width: 700px){
    .michi .row div{
	width: 70px;
	height: 70px;
	border: 3px solid black;
	}
}